@import "src/sass/scss/bootstrap.scss";
@import "index";
@import "article";
@import "homepageb";
@import "gallery";
@import "contact";
@import "category";
@import "categoryc";
body {
  margin: 0;
  background: #f9fafc;
}

h6 {
  font-family: Lato;
}

p {
  margin: 0;
}

.navbar-toggler {
  border: none;
  outline: none !important;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  font-family: Lato;
  .point-nav {
    margin-top: 23px;
    margin-left: 1px;
    width: 4px;
    height: 4px;
    background-color: #ff565c;
  }
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  font-family: Oswald;
}

footer {
  background: black;

  .black-footer {
    height: 50px;
  }

  .footer-logo {
    display: flex;
    .deck {
      font-family: Lato;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.22px;
      color: rgba(249, 250, 252, 0.2);
    }
    .point-nav {
      margin-top: 20px;
      margin-left: 1px;
      width: 4px;
      height: 4px;
      background-color: #ff565c;
    }
    @media (max-width: 480px) {
      display: flex;
      justify-content: center;
    }
  }
  .Deck-Componen {
    width: 151px;
    height: 32px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffffb3;
    @media (max-width: 480px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer-flex {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Oswald;

    @media (max-width: 480px) {
      font-size: 12px;
    }

    a:link {
      text-decoration: none;
    }

    a {
      color: #fff;
    }
  }
  .follow-container {
    display: flex;
    align-content: center;
    align-items: center;
    img {
      margin-left: 15px;
      width: 16px;
      height: 16px;
    }
    @media (max-width: 480px) {
      display: flex;
      justify-content: center;
    }
    p {
      opacity: 0.7;
      font-family: Lato;
      font-size: 14px;
      line-height: 1.57;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .email-send {
    display: flex;
    flex: 1;
    align-items: center;
    input {
      width: 180px;
      height: 34px;
      padding: 0px 15px;
      font-family: Lato;
      font-size: 14px;
      line-height: 1.57;
      border: none;
      text-decoration: none;
      color: rgba(29, 31, 36, 0.4);
      margin-right: -6px;
    }
    button {
      //margin-left: -6px;
      padding: 9px 32px;
      background-color: #ff565c;
      border: none;
      outline: none !important;
      text-transform: uppercase;
      font-family: Oswald;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.9px;
      text-align: center;
      color: #ffffff;
      @media (max-width: 1100px) {
        width: 180px;
      }
      @media (max-width: 920px) {
        width: 180px;
      }
      @media (max-width: 480px) {
        width: 120px;
      }
    }
    @media (max-width: 480px) {
      display: flex;
      justify-content: center;
    }
  }
}
